{:paths ["src"]
 :deps {dk.emcken/wet {:mvn/version "0.3.1"}
        io.github.babashka/instaparse-bb {:git/sha "059045f6a8450bda74eb30136ddd2c5475f788d1"}
        markdown-clj/markdown-clj {:mvn/version "1.12.2"}
        org.babashka/http-server {:mvn/version "0.1.13"}}}
